* {
  box-sizing: border-box;
  font-family: "raleway", sans-serif;
  /* I have to note that after trial,  writing the font family
  starting with a capital or small letter doesn't matter . The font 
  will take effect anyway . */
}

body {
  margin: 0;
  padding: 0;
}
a {
  color: black;
  text-decoration: none;
}

:root {

  /* navbar, Add to cart btn */
  --fw-semiBold: 600;

  /* products-category, out of stock */
  --fw-regular: 400;

  /* products-category */
  --fs-products-category: 42px;


  /* product name */
  --fw-light: 300;
  --fs-product-name: 16px;

  /* product price */
  --fw-medium: 500;
  --fs-product-price: 18px;

  /* out of stock */
  --fs-out-of-stock: 24px;

  /* every product specific page */

  /* product description */
  --ff-roboto: "Roboto", sans-serif;
  --fw-product-description: 300;

  /* product price */
  --fs-product-price: 24px;
  --fw-product-price: 700;

  /* product  options */
  --fs-product-options: 18px;
  --ff-product-options: "Roboto Condensed", sans-serif;
  --fw-product-options: 700;

  /* product title */
  --fs-product-title: 30px;
  --fw-product-title: 600;


  /*18px*/
  --fs-100: 1.125rem;
  /*24px*/
  --fs-200: 1.5rem;
  /*30px*/
  --fs-300: 1.875rem;
  /*42px*/
  --fs-400: 2.625rem;

  --padding: 1rem;
  --gap: 1rem;

  --clr-primary: #5ECE7B;
  --clr-primary-dark: #457a53;
  --transition: color 0.2s ease-in-out;
}

/* general styles */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  position: relative;
  flex-wrap: wrap;
  padding: 2rem 3rem;
}

/* .navbar .logo {
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */

.navbar {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: var(--gap);
  margin: auto;
}

.navbar * {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* 




    
*/

/* tabs */
.tabs {
  display: flex;
  gap: var(--gap);
}

.tabs li {
  /* padding-bottom: var(--padding); */
  padding-bottom: 2rem;
  cursor: pointer;
  text-transform: capitalize;
  /* transition: var(--transition); */

}

.tabs li.active {
  color: var(--clr-primary);
  border-bottom: 3px solid var(--clr-primary);
  transition: var(--transition);
}




.product__description {
  font-family: var(--ff-roboto);
  font-weight: var(--fw-product-description);
}

/* category name */
.category-name {
  padding-left: 2rem;
  text-transform: capitalize;
}

/* products */
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  justify-content: center;
  /* 
  Note that here justify-content deals with the columns of the grid and
  not the children themselves as in flexbox.

  This property is important so that the products adapt to different
  screen sizes, and to be shown in a centered look on mobile devices
  */
  margin: 3rem;
  column-gap: 2rem;
  row-gap: 1rem;
}
.product-card {
  width: 200px;
  min-height: 300px;
  padding: 1rem;
  transition: box-shadow 0.3s linear;
}
.product-card:hover {
  box-shadow: 5px 5px 5px rgb(174, 172, 172);
}
.product-card__img-container {
  position: relative;
}

.product-card__img-container__img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  /* space below it is 24px (1.5rem) // 24 / 16 */
}

/* Till we reach the next working class, all of the commented code 
below is for the cart icon in the ProductCard component that I 
didn't implement . My concerns are written in the 
design-decisions.txt file .   */
/* .product-card__img-container__cart-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;

   // color: white;
   // since we are using an svg, changing the color here won't work 

  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 0;
  cursor: pointer;
  transition: all 0.3s linear;
  visibility: hidden;

} */


/* .product-card:hover .product-card__img-container__cart-icon {
  visibility: visible;
}
.product-card__img-container__cart-icon:hover {
  background-color: var(--clr-primary-dark);
} */

.product-card__details__product-description {
  /* raleway, light , 18 */
  font-weight: var(--fw-light);
  font-size: var(--fs-100);
  margin: 0;

}
.product-card__details__product-price {
  /* raleway, md, 18 */
  font-weight: var(--fw-medium);
  font-size: var(--fs-100);
  margin-top: 0.3rem;
}