* {
  box-sizing: border-box;
  font-family: "raleway", sans-serif;
  /* I have to note that after trial,  writing the font family
  starting with a capital or small letter doesn't matter . The font 
  will take effect anyway . */
}
body {
  margin: 0;
  padding: 0;
}

:root {

  /* navbar, Add to cart btn */
  --fw-semiBold: 600;

  /* products-category, out of stock */
  --fw-regular: 400;

  /* products-category */
  --fs-products-category: 42px;


  /* product name */
  --fw-light: 300;
  --fs-product-name: 16px;

  /* product price */
  --fw-medium: 500;
  --fs-product-price: 18px;

  /* out of stock */
  --fs-out-of-stock: 24px;

  /* every product specific page */

  /* product description */
  --ff-roboto: "Roboto", sans-serif;
  --fw-product-description: 300;

  /* product price */
  --fs-product-price: 24px;
  --fw-product-price: 700;

  /* product  options */
  --fs-product-options: 18px;
  --ff-product-options: "Roboto Condensed", sans-serif;
  --fw-product-options: 700;

  /* product title */
  --fs-product-title: 30px;
  --fw-product-title: 600;


  /*18px*/
  --fs-100: 1.125rem;
  /*24px*/
  --fs-200: 1.5rem;
  /*30px*/
  --fs-300: 1.875rem;
  /*42px*/
  --fs-400: 2.625rem;

  --padding: 1rem;
  --gap: 1rem;

  --clr-primary: #5ECE7B;
  --transition: color 0.2s ease-in-out;
}

/* general styles */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  position: relative;
  flex-wrap: wrap;
  padding: 2rem 3rem;
}
/* .navbar .logo {
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */

.navbar {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-columns: repeat(3,minmax(auto, 1fr));
  gap: var(--gap);
  margin: auto;
}
.navbar * {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/* 




    
*/

/* tabs */
.tabs {
  display: flex;
  gap: var(--gap);
}
.tabs li {
  /* padding-bottom: var(--padding); */
  padding-bottom: 2rem;
  cursor: pointer;
  /* transition: var(--transition); */

}
.tabs li.active {
  color: var(--clr-primary);
  border-bottom: 3px solid var(--clr-primary);
  transition: var(--transition);
}




.product__description {
  font-family: var(--ff-roboto);
  font-weight: var(--fw-product-description);
}

/* category name */
.category-name {
  padding-left: 2rem;
}
